body {
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 12px;
   background-color: #ffffff;
   color: #666666;
}

input {
   color: #ff7c11;
   background-color: #ffffff;
   border: 1px solid #ff7c11;
   font-family: Tahoma, Arial, Helvetica, sans-serif;
   font-size: 10px;
}

input button {
   color: #ff7c11;
   background-color: #ffffff;
   border: 1px solid #ff7c11;
   font-family: Tahoma, Arial, Helvetica, sans-serif;
   font-size: 10px;
}

a {
   color: #ff7c11;
   text-decoration: none;
}

a:hover {
   color: #ffffff;
   text-decoration: underline;
}

h1 {
   color: #ff7c11;
   font-size: 11px;
   font-weight: bold;
   padding: 0px;
   margin: 0px;
}

h2 {
   color: #666666;
   font-weight: normal;
   font-size: 11px;
   padding: 0px;
   margin: 0px;
}

.content_table {
   width: 696px;
}

.content_table_list {
   font-family: Tahoma, Arial, Helvetica, sans-serif;
   font-size: 10px;
   border-spacing: 0px;
   border-margin: 0px;
   background-color: #cccccc;
}

.content_table_box {
   font-family: Tahoma, Arial, Helvetica, sans-serif;
   font-size: 10px;
   padding: 5px;
   background-color: #cccccc;
   border: 1px solid #666666;
}

.content_table_mouseover {
   background-color: #ffffff;
}

.content_table_mouseout {
   background-color: #cccccc;
}


.dataGridHeader {
   position: relative;
   padding-top: 24px;
   border-left: 1px solid #666666;
   width: 700px;
   border-right: 1px solid #666666;
   border-top: 1px solid #999999;
   background-color: #cccccc;
}

.dataGridContent {
   overflow: auto;
   width: 700px;
   height: 300px;
   border-bottom: 1px solid #666666;
}

.dataGridHeader thead tr {
   width: 700px;
   position: absolute;
   top: 0;
   left: 0;
   text-align: left;
}
.dataGridHeader table thead tr th, .dataGridHeader table tbody tr td {
   text-align: left;
   height: 0;
   padding: 5px;
}

