/* General style */

body {
   font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
   font-size: 11px;
   color: #666666;
   background-color: #ffffff;
   color: #000000;
}

input.button {
   background-color: #ff7c11;
   font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
   font-size: 11px;
   color: #ffffff;
}

input.text, select, textarea {
   font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
   font-size: 11px;
   color: #666666;
}

input.errortext, select.errortext, textarea.errortext {
   border: 1px solid #ff0000;
   font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
   font-size: 11px;
   color: #ff0000;
}

h1 {
   color: #ff7c11;
   font-size: 25px;
   font-weight: bold;
}

h2 {
   color: #ffffff;
   font-size: 18px;
   font-weight: bold;
}

h3 {
   color: #666666;
   font-size: 16px;
   font-weight: bold;
}

h4 {
   color: #ff7c11;
   font-size: 125px;
   font-weight: bold;
   padding: 25px;
   margin: 0px;
}

.footer {
   width: 100%;
   text-align: center;
   background-color: #ff7c11;
}

.reload, .reload_ftp:visited {
   background-image: url(/images/icon_reload.png);
   background-repeat: no-repeat;
   padding-left: 25px;
   padding-top: 5px;
   padding-bottom: 5px;
   color: #666666;
   text-decoration: none;
}

.reload hover {
   text-decoration:underline;
}

.delete, .delete:visited {
   background-image: url(/images/icon_delete.png);
   background-repeat: no-repeat;
   padding-left: 25px;
   padding-top: 5px;
   padding-bottom: 5px;
   color: #666666;
   text-decoration: none;
}

.delete:hover {
   text-decoration:underline;
}

.details, .details:visited {
   background-image: url(/images/icon_details.png);
   background-repeat: no-repeat;
   padding-left: 25px;
   padding-top: 5px;
   padding-bottom: 5px;
   color: #666666;
   text-decoration: none;
}

.details:hover {
   text-decoration:underline;
}

/* Main content - outside areas / default values */

.main {
   border-spacing: 0px;
   width: 100%;
}

.main .logo {
   width: 190px;
   text-align: center;
}

.main .description {
   background-color: #ff7c11;
   text-align: bottom;
   padding-left: 5px;
   padding-right: 5px;
}

.main .domain {
   background-color: #ff7c11;
   padding-left: 5px;
   padding-right: 5px;
}

.main .navigation {
   background-color: #cccccc;
   vertical-align: top;
   font-weight: bold;
   color: #ffffff;
}

.main .navigation a {
   color: #ffffff;
   text-decoration: none;
   font-weight: normal;
}

.main .navigation a:hover {
   background-color: #666666;
}

.main .content {
   padding-left: 15px;
}

.main .content_table {
   height: 200px;
   overflow: auto;
}

.main .content .detail th {
   background-color: #ff7c11;
   text-align: left;
}

.main .content .detail {
   border-spacing: 0px;
}

.main .content .detail .name {
   background-color: #dddddd;
   border-bottom: 1px solid #999999;
   font-weight: bold;
   padding: 5px;
   vertical-align: top;
}

.main .content .detail .value {
   background-color: #eeeeee;
   border-bottom: 1px solid #999999;
   padding: 5px;
   vertical-align: top;
}

.main .content .outside {
   padding: 10px;
   background-color: #eeeeee;
}

.main .content .list {
   background-color: #ffffff;
   border-top: 1px solid #999999;
   border-bottom: 1px solid #999999;
   border-left: 1px solid #999999;
   border-spacing: 0px;
}

.main .content .list td {
   padding: 5px;
   border-top: 1px solid #999999;
   border-right: 1px solid #999999;
}

.main .content .list th {
   border-right: 1px solid #999999;
   background-color: #cccccc;
   font-weight: bold;
   text-align: left;
   padding: 5px;
}

.main .content .list .mover {
   background-color: #ff7c11;
}

.main .content .list .mout {
   background-color: #ffffff;
}

.main .content .error {
   font-weight: bold;
   color: #ff0000;
   background-image: url(/images/icon_warning.png);
   background-repeat: no-repeat;
   padding: 0px;
   margin: 0px;
}

.main .content .boxerror {
   background-image: url(/images/icon_error.png);
   background-repeat: no-repeat;
   color: #ff0000;
   font-weight: bold;
   padding-left: 25px;
   padding-top: 5px;
   padding-bottom: 5px;
   border: 2px solid #ff0000;
   margin-bottom: 10px;
}

.main .content .boxinfo {
   background-image: url(/images/icon_info.png);
   background-repeat: no-repeat;
   color: #00ff00;
   font-weight: bold;
   padding-left: 25px;
   padding-top: 5px;
   padding-bottom: 5px;
   border: 2px solid #00ff00;
   margin-bottom: 10px;
}

/* General */
.main .content .list .header {
}

.main .content .list .list {
}

/* Module: user */

.headline_user {
   background-image: url(/images/headline_user.png);
   background-repeat: no-repeat;
   padding-left: 70px;
   font-size: 25px;
   font-weight: bold;
   color: #666666;
   height: 64px;
   vertical-align: middle;
}

.icon_user {
   background-image: url(/images/icon_user.png);
   background-repeat: no-repeat;
   width: 16px;
}

/* List view */
.main .content .list .header_user_login {
   width: 150px;
}

.main .content .list .header_user_gecos {
   width: 200px;
}

.main .content .list .header_user_action {
   width: 150px;
   text-align: center;
}

.main .content .list .list_user_action {
   text-align: center;
}

/* Detail view */
.main .content .detail .detail_name_user_login {
   width: 150px;
}

.main .content .detail .detail_value_user_login {
   width: 250px;
}

.main .content .detail .detail_value_user_login input {
   width: 80px;
}

.main .content .detail .detail_value_user_gecos input {
   width: 200px;
}

/* Module: group */

.headline_group {
   background-image: url(/images/headline_group.png);
   background-repeat: no-repeat;
   padding-left: 70px;
   font-size: 25px;
   font-weight: bold;
   color: #666666;
   height: 64px;
   vertical-align: middle;
}

.icon_group {
   background-image: url(/images/icon_group.png);
   background-repeat: no-repeat;
   width: 16px;
}

/* List view */
.main .content .list .header_group_login {
   width: 150px;
}

.main .content .list .header_group_members {
   width: 200px;
}

.main .content .list .header_group_action {
   width: 150px;
   text-align: center;
}

.main .content .list .list_group_action {
   text-align: center;
}

/* Detail view */
.main .content .detail .detail_name_group_login {
   width: 150px;
}

.main .content .detail .detail_value_group_login {
   width: 250px;
}

.main .content .detail .detail_value_group_login input {
   width: 80px;
}

.main .content .detail .detail_value_group_members input {
   width: 200px;
}

/* Module: nfs */
.icon_nfs {
   background-image: url(/images/icon_nfs.png);
   background-repeat: no-repeat;
   width: 16px;
}

.main .content .list .header_nfs_directory {
   width: 150px;
}

.main .content .list .header_nfs_source {
   width: 150px;
}

.main .content .list .header_nfs_options {
   width: 150px;
}

/* Module: ftp */
.headline_ftp {
   background-image: url(/images/headline_ftp.png);
   background-repeat: no-repeat;
   padding-left: 70px;
   font-size: 25px;
   font-weight: bold;
   color: #666666;
   height: 64px;
   vertical-align: middle;
}

/* Module: nfs */
.headline_nfs {
   background-image: url(/images/headline_nfs.png);
   background-repeat: no-repeat;
   padding-left: 70px;
   font-size: 25px;
   font-weight: bold;
   color: #666666;
   height: 64px;
   vertical-align: middle;
}

/* Module: process */
.headline_process {
   background-image: url(/images/headline_process.png);
   background-repeat: no-repeat;
   padding-left: 70px;
   font-size: 25px;
   font-weight: bold;
   color: #666666;
   height: 64px;
   vertical-align: middle;
}

.icon_process {
   background-image: url(/images/icon_process.png);
   background-repeat: no-repeat;
   width: 16px;
}

/* Detail view */
.main .content .detail .detail_name_process_user {
   width: 150px;
}

.main .content .detail .detail_value_process_user {
   width: 250px;
}

/* Module: lan */
.headline_lan {
   background-image: url(/images/headline_lan.png);
   background-repeat: no-repeat;
   padding-left: 70px;
   font-size: 25px;
   font-weight: bold;
   color: #666666;
   height: 64px;
   vertical-align: middle;
}

.icon_lan {
   background-image: url(/images/icon_process.png);
   background-repeat: no-repeat;
   width: 16px;
}
