body {
    font: 69% "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
    background-color: White;
    color: Black;
    margin: 0;
    padding: 0;
}

.contentarea {
    font: 69% "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
    background-color: White;
    color: Black;
    margin: 10;
    padding: 0;
}

table {
    font-size: 100%;
}

a {
    text-decoration: none;
    color: #436976;
    background-color: transparent;
}
img {
    border: none;
    vertical-align: middle;
}
p {
    margin: 0.5em 0em 1em 0em;
    line-height: 1.5em;
}
p a {
    text-decoration: underline;
    border: 1px solid #ffffff;
}
p a:visited {
    color: Purple;
    background-color: transparent;
}
p a:active {
    color: Red;
    background-color: transparent;
}
p a:hover {
    background-color: #dee7ec;
    color: #436976;
    border: 1px solid #8cacbb;
}
p img {
    border: 0;
    margin: 0;
}

hr {
    height: 1px;
    color: #8cacbb;
    background-color: transparent;
}


h1, h2, h3, h4, h5, h6 {
    color: Black;
    background-color: transparent;
    font-family: "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
    font-size: 100%;
    font-weight: normal;
    margin: 0;
    padding-top: 0.5em;
    border-bottom: 1px solid #8cacbb;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: Black ! important; 
}

h1 {
    font-size: 160%;
    padding-right: 4em;
}

h2 {
    font-size: 150%;
}

h3 {
    font-size: 140%;
    border-bottom: none;
    font-weight: bold;
}

h4 {
    font-size: 120%;
    border-bottom: none;
    font-weight: bold;
}

h5 {
    font-size: 100%;
    border-bottom: none;
    font-weight: bold;
}

h6 {
    font-size: 85%;
    border-bottom: none;
    font-weight: bold;
}
input {
    font-family: "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
    visibility: visible;
    border: 1px solid #8cacbb;  
    color: Black;
    background-color: white;
    vertical-align: middle;
}
select {
    border: 1px solid #8cacbb;  
    color: Black;
    background-color: White;
    vertical-align: top;
}
abbr, acronym, .explain {
    border-bottom: 1px dotted Black;
    color: Black;
    background-color: transparent;
    cursor: help;
}
q {
    font-family: Times, "Times New Roman", serif;
    font-style: italic;
    font-size: 120%;
}
blockquote {
    font-family: Times, "Times New Roman", serif;
    font-style: italic;
    font-size: 120%;
}
code {
    font-family: "Courier New", Courier, monospace;
    font-size: 120%;
    color: Black;
    background-color: #dee7ec;
    border: 1px dashed #8cacbb;
    padding: 0 0.1em;
}
pre {
    font-family: "Courier New", Courier, monospace;
    font-size: 120%;
    padding: 1em;
    border: 1px dashed #8cacbb;
    color: Black;
    background-color: #dee7ec;
    overflow: auto;
}
.pre a {
    text-decoration: underline;
}
.portlet {
    border: none;
    margin-bottom: 1em;
    padding: 0;
}
.portlet h5 { 
    background-color: #dee7ec;
    border: 1px solid #8cacbb;
    padding: 0em 1em 0em 1em;
    text-transform: lowercase;
    display: inline;
    font-size: 1em;
    font-weight: normal;
    white-space: nowrap;
    position: relative;
    top: -1px;
}
.portletBody {
    position: relative;
    top: -1px;
    background: transparent;
    border: 1px solid #8cacbb;
}
.portletDetails {
    text-align: right;
}

.portletContent {
    padding: 1em;
}
.portlet .even {
    background-color: #edf3fe;
}
.portlet .odd {
    background-color: transparent;
}
.portlet input {
    font-size: 100%;
}
.navIcon,
.navIconRoot {
    position: relative;
    right: 20px;
}
.navItemText {
    margin-left: -20px;
}
.navRootItem,
.navItem {
    margin: 0 0 0.2em 0;
    border: 1px solid White;
    display: block;
    background-repeat: no-repeat;
    background-position: 0 1px;
    padding: 0.1em 0.25em 0.2em 20px;
    margin: 1px 0;
}

.currentNavItem, a:hover {
    background-color: #dee7ec;
    color: #436976;
    border: 1px solid #8cacbb;
}
.navLevel1 { margin-left: 0em; }
.navLevel2 { margin-left: 1em; }
.navLevel3 { margin-left: 2em; }
.navLevel4 { margin-left: 3em; }
.navLevel5 { margin-left: 4em; }
.navLevel6 { margin-left: 4.5em; }
.navLevel7 { margin-left: 5em;   }
.navLevel8 { margin-left: 5.5em; }